/*****************************
            RESET
*****************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Noto Sans", Avenir, Helvetica, Verdana, sans-serif;
}

/*****************************
        BASIC STYLING
*****************************/

body {
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/*****************************
        LAYOUT STYLING
*****************************/

.container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    background-color: #fff;
}

.header {
    background-color: #698db4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.header>h1 {
    margin: 1rem;
    letter-spacing: .2px;
    color: #fff;
}

.form-container {
    height: 80vh;
    margin: 1.5rem;
}

form {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
    /*height: 90vh;*/
    display: grid;
    grid-gap: 1rem;

    /*justify-items: stretch;*/
    /*align-items: ;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    /*Reduce row gap to balance with outer padding */
    /*grid-row-gap: .6rem;*/
}

/*****************************
       CONTROLS STYLING
*****************************/

input,
textarea {
    -webkit-appearance: none;
    display: block;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    padding: .3rem;
    border: 1px solid #cccccc;
    resize: none;
    font-size: 1rem;
}

label {
    font-weight: bold;
    /*font-size: .8rem;*/
    margin-bottom: .2rem;
}

textarea {
    max-height: 25rem;
    min-height: 9rem;
}

input:focus,
textarea:focus {
    outline: none;
}

#check {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

input[type=checkbox] {
    height: 1rem;
    width: 1rem;
    margin-right: 5px;
    min-width: auto;
}

#check>label {
    height: 2.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

/*****************************
        BUTTON STYLING
*****************************/

.button {
    color: #fff;
    background-color: #3664bb;
    height: 2.8rem;
    font-size: .9rem;
    border-radius: 3px;
    width: 100%;
}

.cancel {
    background-color: #fff;
    border: 1px solid #3664bb;
    color: #3664bb;
}

.button {
    outline: none;
}

.button:active {
    background-color: #314c99;
}

.cancel:active {
    background-color: #e3e3e3;
}