/****************
     RESET
****************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Noto Sans", Avenir, Helvetica, Verdana, sans-serif;
}

body {
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.form-container {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.aside {
    display: none;
}


form {
    display: grid;
    grid-template-columns: 1fr;

    grid-gap: 1rem;
    /*Reduce row gap to balance with outer padding */
    grid-row-gap: .6rem;
    padding: 2rem;
    background-color: white;
    width: 90vw;
    border-radius: 5px;
}

input,
textarea {
    display: block;
    min-width: 100%;
    max-width: 100%;
    line-height: 1.618;
    font-size: .8rem;
    padding: .2rem;
    border: 1px solid #cccccc;
    resize: none;
}


label {
    font-weight: bold;
    font-size: .8rem;
    margin-bottom: .2rem;
}

input {
    line-height: 1.618;
}

textarea {
    max-height: 25rem;
    min-height: 9rem;
}


#check {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#check>input, #check>label {
    /*display: inline;*/
    max-width: none;
    min-width: inherit;
    margin: 0 5px 0 0;
}
/*#check label, input {*/
    /*display: inline;*/
    /*margin: 0;*/
/*}*/

.button {
    color: #fff;
    background-color: #3664bb;
    height: 2.8rem;
    font-size: .9rem;
    border-radius: 3px;
}

.cancel {
    background-color: #fff;
    border: 2px solid #3664bb;
    font-weight: bold;
    color: #3664bb;
}

input[type=submit] {
    outline: none;
}

input[type=submit]:active {
    background-color: #314c99;
}